.header{
	background-color: #273B47;
	position: relative;
	height: 54px;
    font-weight: bold;
    
    .button{
        right: 0;
        position: absolute;
        font-size: 13px;
    }
}