.header{
	background-color: $bluetransp;
	position: absolute;
	height: 54px;
    font-weight: bold;
    width: 100%;
    z-index: 1;
    .button{
        right: 0;
        position: absolute;
        font-size: 13px;
    }
}