.about-me { 
    .repo{  
        padding-top: 4em; 
    }
    
    #about-canvas {
        width: 100%;
        height: 90%;
    }
    
    #about-container {
        margin-top: 6em;
        height: 26em;
    }
    
    .padding {
        padding: 0 3%;
    }
    
    .entry-content-page {
        padding-left: 15%;
    }
}
