.articles{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.articles figure{
	margin: 27px 0;
}

.description{
	display: flex;
    justify-content: space-between;
}

.article-title{
	font-size: 20px;
	font-weight: 700;	
	width: 307px;
	color: $grey;
	a {
		text-decoration: none;
		color: $grey;
	}
	a:hover { color: $orange; }
}

.autor span{
	padding-top: 11px;
    padding-left: 10px;
}

.date{
	margin-right: -175px;
}

.img-article{
	width: 317px;
	height: 215px;	
}

.img-article:hover {
	transform: scale(1.03);
	transition: all 0.5s;
}

.autor, .date{
	font-size: 12px;
	color: $grey;
	a {
		text-decoration: none;
		color: $black;
	}
}