.slider{
	height: 560px;
    position: relative;
    opacity: 0.9;
}

.slider:hover{
    .img-centered{
        transform: scale(1.03);
        transition: all 0.5s;
    }
    .selected{
        opacity: 0.8;
        transform: rotateY(0deg);
        transition-duration: 1.5s;
        transition-delay: 0.5s;
        .user{
            display: inline-block;
            margin-left: 8px;
            img{
                width: 5%;
                border-radius: 50%;
            }
        }
    }
}

.selected{	
	width: 526px;
	position: absolute;
    bottom: 35px;
    margin: 5% 27%;
    padding: 20px;
	transform: rotateY(270deg);	
}

.selected .date{
	margin-right: 0;
	padding-top: 11px;
    padding-left: 10px;
}

.title{
    font-family: RalewayExtraLight,sans-serif !important;
    font-size: 2.28rem!important;
	// font-size: 32px;
	font-weight: 700;	
	width: 350px;
    color: $white;
    text-align: center;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    // background-color: #b61924;
    background-image: url('../images/home.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
    
canvas {
    display: block;
    vertical-align: bottom;
}